<!DOCTYPE html>
<html>
html{
    background-color: #0066ff;    
}

body{
    margin: 0 auto;
}

header {
  margin-left: 10%;
  margin-right: 10%;
  height: 120px;
}
.Verkefni4 {
  text-align: right;

}

.bakgrunnslitir {
  width: 50%;
  text-align: left;
}

.menu {
  width: 50%;
  float: right;

  text-align: right;
} 


section{
    background-color: #ffec80;
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
}


}

h2{

}

blockquote{
    background-color: #fff7cc;
    padding-bottom: 10px;
    border-radius: 15px;
    padding-top: 5px;
    padding-left: 1em;
}

b{
    color: blue;
}

li{
    color: blue;
}
