
html {
	background-color: #6AC1E5;
}


body {
	margin: 0 auto;



}

.Verkefni4 {
	text-align: right;

}

.bakgrunnslitir {
	width: 50%;
	text-align: left;
}

.menu {
	width: 50%;
	float: right;
	height: 78.88px;
	text-align: right;
}	


header {
	background-color: #6AC1E5;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	height: 100px;

	
}

.midja {
	margin-right: 15%;
	margin-left: 15%;

}

blockquote {
	width: 40em;
	background-color: rgba(255,255,255, 0.5);
	padding: 10px;
   
}

.main {
	
}


.footer {
	background-color: #6AC1E5;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	color: white;
	margin-left: 15%;
	margin-right: : 15%;

}

nav {
	color: white;
}

section {
	background-image: linear-gradient(white, yellow);
}

a {
	color: white;
}

.Litaskali {
	color: #6AC1E5;
}

dt {
	color: yellow;
}
