

h1 {color: blue;
	text-align: center;
	font-family: impact;

}
h2 {color: #800517}
strong {color: red}
em {color: blue}
ul {color: green}

body{margin: 0 auto;
	width: 800px;
	border: 0px blue solid;

}
h4 {text-align: center;

}
h5 {text-align: center;

}

