

h1 {color: blue;
	text-align: center;
	font-family: impact;

}
h2 {color: #800517}
strong {color: red}
em {color: blue}
ul {color: green}

body{margin: 0 auto;
	width: 800px;
	border: 0px blue solid;

}
a:link {color: #F00}
a:visited {color: #0F0}
a:hover {color: #F0F}
a:active {color: #00F} 

span {color: red;

}
